<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title color="light">แสดงข้อมูลนักเรียน ปวช.2/3</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="loadDataMem()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-item *ngFor="let mb of member">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{ mb.id_stu }}{{ mb.name }} {{ mb.nname }}</ion-label>
      <ion-button color="warning" (click)="edit(mb)">แก้ไข</ion-button>
      <ion-button color="danger" (click)="delMem(mb.id)">ลบ</ion-button>
    </ion-item>
</ion-content>
