<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title color="light">
      ข้อมูลนักเรียน ปวช.2/3
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label style="text-align: center;" class="margin">
    <h1><b>แก้ไขข้อมูล</b></h1>
  </ion-label>
  <ion-input type="hidden" [(ngModel)]="member.id"></ion-input>
  <ion-item>
    <ion-label position="floating"><b>รหัสนักเรียน</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.id_stu"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>ชื่อ-สกุล</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>ชื่อเล่น</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.nname" > </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>อายุ</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.age" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>เบอร์โทรศัพท์</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.phone" > </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><b>ที่อยู่</b></ion-label>
    <ion-input type="text"[(ngModel)]="member.address" ></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label position="floating">สถานะภาพ</ion-label>
      <ion-select aria-label="สถานะ" interface="popobver" slot="end" [(ngModel)]="member.status">
        <ion-select-option value="โสด">โสด</ion-select-option>
        <ion-select-option value="สมรส">สมรส</ion-select-option>
        <ion-select-option value="หย่าร้าง">หย่าร้าง</ion-select-option>
        <ion-select-option value="มีแฟน">มีแฟน</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div style="text-align: center;" color="primary" class="center">
    <ion-button (click)="editmember()"><b>แก้ไขข้อมูล</b></ion-button>
  </div>


</ion-content>
